.bloco-introducao {
    font-size: 20px;
    padding: 50px 50px 50px 50px;
    background-color: black;
    color: white;
    text-align: justify;
}

.tabela h3{
    border-bottom: 3px double black;
    margin-bottom: 12px;
    width: 115%;
}

.tabela table {
    border: 1px solid black;
    border-collapse: separate;
    width: 115%;
}

.tabela table tr th{
    background-color: rgb(85, 81, 81);
    color: white;
}

.tabela table tr td, .tabela table tr th {
    border: 1px solid black;
    text-align: center;
    padding: 12px 0 12px;
}

.bloco-beneficios{
    width: 50%;
    background-color: #FFD700;
    padding: 12px 12px 0 12px;
}

.bloco-beneficios h3{
    border-bottom: 3px double black;
    margin-bottom: 12px;
    width: 100%;
}

.bloco-beneficios ol {
    margin: 0 18px;
    font-size: 20px;
    padding: 30px 15px;
}