.bloco-foto{
    display: grid;
    justify-content: center;
}

.bloco-slider {
    background-color: black;
    color: white;
    padding: 30px;
    margin: 20px;
}

.bloco-slider h3{
    text-align: center;
    border-bottom: 3px double white;
    padding-bottom: 10px;
}

.bloco-carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
}

.seta {
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.img-carrossel {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 50px;
}

.img-carrossel img {
    margin: 0 10px;
}

.img-alinhar {
    text-align: center;
    margin: 0 10px;
}

.img-alinhar img {
    display: block;
    margin: 0 auto;
}

.imagem-centro {
    width: 200px;
    height: auto;
}

.imagem-canto {
    width: 100px;
    height: auto;
}

.desc-imagem {
    text-align: left;
    margin: 20px;
    padding-left: 16%;
}

.galeria-video{
    background-color: black;
    color: white;
    padding: 30px;
    margin: 20px;
}

.galeria-video video{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.galeria-video h3{
    text-align: center;
    border-bottom: 3px double white;
    padding-bottom: 10px;
}

@media (min-width: 450px) and (max-width: 1000px){
    .bloco-foto{
        display: flex;
        justify-content: center;
    }

    .bloco-foto{
        flex-direction: column;
        margin: 50px 50px 50px 50px;
    }

    .galeria-video video{
        width: 100%;
    }

    .img-alinhar img{
        width: 100%;
    }

    .desc-imagem{
        padding: 20px;
        padding-left: 16%;
    }

    .galeria-video video{
        width: 50%;
        margin-left: 15%;
        margin-top: 20px;
    }
}
